<main>
    <div class="flex-row">
        <div class="info-box">
            <div class="main-info">
                <div class="info-left">
                    <img src="{{user.profilePicture}}" alt="{{user.firstName}} {{user.lastName}}'s Profile Picture" class="img-profile">
                    <div class="info-text">
                        <h3>{{user.firstName}} {{user.lastName}}</h3>
                        <p>{{user.type}}</p>
                    </div>
                </div>
                <i class="bi bi-pencil-square edit-btn" title="Edit Profile"></i>
            </div>
            <div class="account-info">
                <h4>About</h4>
                <p>Email: {{user.email}}</p>
            </div>
            <div class="about-info">
                <h4>Bio</h4>
                <p>{{user.aboutMe}}</p>
            </div>
        </div>
    </div>
</main>