<main>
    <div class="main-info">
    <h2>Search for Student Profile</h2>

    {{#if error}}
        <p class="error-msg">{{error}}</p>
    {{/if}}

    <form action="/student/search" method="POST">
        <input type="text" name="email" placeholder="Enter student name or email" required>
        <button type="submit">Search</button>
    </form>

    {{#if searchResults}}
        <div class="search-results">
            <h2>Search Results:</h2>
            <ul>
                {{#each searchResults}}
                    <li>
                        <a href="/student/otherprofile/{{this._id}}">
                            {{this.firstName}} {{this.lastName}} - {{this.email}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    </div>
</main>

